/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: white;
  --main-font-color: black;
  --font-color-p: grey;
  --textdecoration-color-font: white;
  --textdecoration-color: grey ;
  --main-hover-color: grey;
  --hamburgermenu-icon-span-bg-color: black;
  --button-bg-color: rgb(53, 53, 53);
  --button-bg-hover-color: black;
  --button-font-color: white;
  --details-border-color: rgb(53, 53, 53);
  --experience-subtitle-font-color: rgb(85, 85, 85);
  --project-btn-font-color: black;
  --project-btn-border-color:  rgb(163, 163, 163);
  --contact-container-border-color: rgb(53, 53, 53);
}

body.dark-mode{
  --main-bg-color: #121212;
  --main-font-color: #aca1a1;
  --font-color-p: #cccccc;
  --textdecoration-color-font: #121212;
  --textdecoration-color: #999999;
  --main-hover-color: #333333;
  --hamburgermenu-icon-span-bg-color: #999999;;
  --button-bg-color: #333333;
  --button-bg-hover-color: #555555;
  --button-font-color: white;
  --details-border-color: #555555;
  --experience-subtitle-font-color: #aaaaaa;
  --project-btn-font-color: white;
  --project-btn-border-color: #888888;
  --contact-container-border-color: #555555;

  .icon{
    display: none;
  }
  .icon-dark{
    display: inline;
  }
  .arrow {
    display: none;
  }
  
}
body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: 'Times New Roman', sans-serif, monospace;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--font-color-p);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links, .desktop-nav-darkmode-btn {
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  cursor: pointer;
  gap: 2rem;
  list-style: none;
  font-size: 1.25rem;
}

.desktop-nav-darkmode-btn, .darkmodebtn-hamburger-btn{
  background: none;
  border: none;
  padding: 0.25rem;
  cursor: pointer;
}

.desktop-nav-darkmode-btn img, .darkmodebtn-hamburger-btn img{
  width: 48px;
  height: 48px;
}

a {
  color: var(--main-font-color);
  text-decoration: none;
}

a:hover, .desktop-nav-darkmode-btn:hover {
  color: var(--main-hover-color);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: var(--textdecoration-color);
}

.ul-experience{
  list-style-type: none;
  font-size: inherit;
  font-weight: 600;
}

.logo {
  font-size: 3rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

.darkmodebtn-hamburger-btn{
  font-size: 1.5rem;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-links li a:hover{
  text-decoration: underline;
  color: var(--button-font-color);
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--hamburgermenu-icon-span-bg-color);
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--main-bg-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links li a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--main-font-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
  opacity: 1;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.icon-dark {
  display: none;
  height: 2rem;
  cursor: pointer;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--button-bg-color) 0.1rem solid;
  background: var(--button-bg-color);
  color: var(--button-font-color);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  background-color: var(--button-bg-hover-color);
}



/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--main-bg-color);
  border-radius: 2rem;
  border: var(--details-border-color) 0.1rem solid;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: var(--experience-subtitle-font-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  margin: 1rem;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.experience-article{
  width: 100%;
}

article {
  display: flex;
  width: 12rem;
  align-items: center;
  gap: 0.75rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}


.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: var(--project-btn-font-color);
  border-color: var(--project-btn-border-color);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--contact-container-border-color) 0.1rem solid;
  background: var(--main-bg-color);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  margin: 0 1rem;
}

footer p {
  text-align: center;
}


@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
   #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 5rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .darkmodebtn-hamburger{
    font-size: 1rem;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a, .nav-links li button {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;.icon{
      display: none;
    }
    .icon-dark{
      display: inline;
    }
  }
  .text-container {
    text-align: justify;
  }
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #121212;
    --main-font-color: #aca1a1;
    --font-color-p: #cccccc;
    --textdecoration-color-font: #121212;
    --textdecoration-color: #999999;
    --main-hover-color: #333333;
    --hamburgermenu-icon-span-bg-color: #999999;;
    --button-bg-color: #333333;
    --button-bg-hover-color: #555555;
    --button-font-color: white;
    --details-border-color: #555555;
    --experience-subtitle-font-color: #aaaaaa;
    --project-btn-font-color: white;
    --project-btn-border-color: #888888;
    --contact-container-border-color: #555555;
  }

  .icon{
    display: none;
  }
  .icon-dark{
    display: inline;
  }

} */
/* 
@media screen and (max-width: 1200px) and (prefers-color-scheme: dark) {
  .arrow {
    display: none;
  }
} */
